@import "reset.scss";
@import "variables.scss";


footer  {
					div { height: 300px;width: 100%;background: $violet;@include centerBloc;
								ul  {height: 90%;width: 95%;@include centerBloc;justify-content: space-around;
											li  {height: 100%;width: 17%;display: flex;flex-direction: column;
														p {font-size: 28px;color: $blanc;margin-bottom: 20px;}
														a {font-size: 25px;@include liens;margin: 10px 15px;}
														div {width: 100%;height: 80%;border-radius: 15px;}
													}
											#socials {width: 9%;}
										}
						}
      }
#map    {border-radius: 15px;}

@media screen and (max-width: 800px) {
      footer  {
								div { height: 300px;width: 100%;background: $violet;@include centerBloc;
											ul  {height: 90%;width: 95%;@include centerBloc;justify-content: space-around;
														li  {height: 100%;width: 18%;display: flex;flex-direction: column;
																	p {font-size: 28px;color: $blanc;margin-bottom: 20px;}
																	a {font-size: 25px;@include liens;margin:  10px 15px 10px 0;}
																	div {width: 100%;height: 80%;border-radius: 15px;}
																}
													}
									}
}}

@media screen and (max-width: 400px) {
      footer  {
								div { height: fit-content;width: 100%;background: $violet;@include centerBlocH;
											ul  {height: 1000px;width: 95%;margin-top: 30px;@include centerBlocH;justify-content: space-around;
														li  {height: 100%;width: 70%;display: flex;flex-direction: column;margin-bottom: 25px;
																	p {font-size: 28px;color: $blanc;margin-bottom: 20px;}
																	a {font-size: 20px;@include liens;margin:  10px 15px 10px 45px;}
																	div {width: 100%;height: 300px;border-radius: 15px;margin-bottom: 15px}
																}
														#socials  {@include centerBloc;flex-direction: row;}
													}
										}
}}